.a-icon {
  $root: &;
  $icons: ('facebook', 'live-video', 'photo');

  display: inline-block;

  width: 100%;
  height: 100%;

  @each $icon-name in $icons {
    $url: '#{$icon-path}/#{$icon-name}.svg';

    &[data-icon~='#{$icon-name}'] {
      mask-image: url($url);
      background-color: currentcolor;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
    }
  }

  @each $color, $value in $color-list {
    &[data-color='#{$color}'] {
      color: $value;
    }
  }
}
