.a-icon {
  $root: &;
  $icons: (
    // iconList icon name must be kabab case
    'facebook'
  );

  display: inline-block;

  width: 14px;
  height: 14px;

  @each $icon-name in $icons {
    $url: '#{$icon-path}/#{$icon-name}.svg';

    &[data-icon~='#{$icon-name}'] {
      mask-image: url($url);
      background-color: currentcolor;
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: contain;
    }
  }

  @each $color, $value in $color-list {
    &[data-color='#{$color}'] {
      color: $value;
    }
  }
}
