.activate-form {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, 0.768);
  bottom: 0;
  z-index: 99;

  &__popup {
    position: relative;
    background: var(--bg-primary);
    box-shadow: 0 1px 2px var(--shadow-1);
    width: 40vw;
    height: 200px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    text-align: center;
    border-radius: 10px;
  }

  &__popup-header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    border-bottom: 1px solid var(--bg-third);
    padding: 15px;
  }

  &__popup-message {
    padding: 15px;
    font-weight: 500;
  }
}