/* stylelint-disable selector-class-pattern */
.a-button {
  $root: &;
  $root-icon: '.a-icon';

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 14px 0;
  text-decoration: none;
  cursor: pointer;
  background-color: $color-white;
  border: 2px solid $color-white;
  border-radius: 24px;
  transition: background-color fr(10) fr(0), border fr(10) fr(0); /* property name | duration | delay */ /* Apply to 2 properties */

  // Default Button Hover
  &:hover {
    background-color: transparent;

    #{$root}__text {
      color: $color-white;
    }

    #{$root-icon} {
      background-color: $color-white;
    }
  }

  .icon-wrapper {
    display: flex;
    order: 0;
    margin: 0 8px;
  }

  &__text {
    order: 2;
    font-size: 16px;
    font-size: xd-font-weight('bold');
    color: $color-blue-eyes; // Default Text color
    text-align: center;
    transition: color fr(10) fr(0); /* property name | duration | delay */

    @include sp {
      font-size: 14px;
    }
  }

  #{$root-icon} {
    width: 16px;
    height: 16px;
    background-color: $color-blue-eyes; // Default Icon color
    transition: background-color fr(10) fr(0);
  }

  &:active {
    background-color: $color-base-lavender;
    box-shadow: none;
  }

  &--small {
    width: 100px;
  }

  &--medium {
    width: 200px;
  }

  &--large {
    width: 400px;
  }

  &--primary {
    background-color: $color-blue-eyes;
    border: 2px solid $color-blue-eyes;

    #{$root}__text {
      color: $color-white;
    }

    #{$root-icon} {
      background-color: $color-white;
    }

    &:hover {
      background-color: transparent;

      #{$root}__text {
        color: $color-blue-eyes;
      }

      #{$root-icon} {
        background-color: $color-blue-eyes;
      }
    }

    &:active {
      background-color: $color-base-darkmagenta;
    }
  }

  &--secondary {
    background-color: $color-secondary-purple-v-gradient;
    background-color: $color-secondary-purple-v-gradient-ms;

    #{$root}__text {
      color: $color-white;
    }

    &:hover {
      background-color: $color-base-mistyrose;
    }

    &:active {
      background: $color-base-thistle;
    }
  }

  &--third {
    background: $color-primary-grey-gradient;
    background: $color-primary-grey-gradient-ms;

    #{$root}__text {
      color: $color-white;
    }

    &:hover {
      color: $color-text-white;
      background: $color-secondary-purple-gradient;
      background: $color-secondary-purple-gradient-ms;
    }

    &:active {
      background: $color-base-dimgray;
    }
  }

  &--fourth {
    height: 40px;
    line-height: 20px;
    background-color: $color-base-dimgray;
    border: 1px solid $color-line-light-gray;

    #{$root}__text {
      color: $color-white;
    }

    &:hover {
      color: $color-text-white;
      background-color: $color-primary-purple;
    }
  }

  &--transparent {
    color: $color-primary-purple;
    background: transparent;
    box-shadow: none;

    &:hover {
      color: $color-primary-purple;
      background: transparent;
    }

    &:active {
      background: transparent;
    }
  }

  &--red {
    color: $color-white;
    background: $color-primary-red;
    border: none;
    border-radius: 5px;
    outline: none;

    &:hover {
      background: $color-primary-red;
    }
  }

  &--text {
    height: auto;
    padding: 0;
    font-size: 16px;
    color: $color-text-white;
    text-align: left;
    background: transparent;
    border: none;
    box-shadow: none;

    &:hover {
      background: transparent;
    }

    @include sp {
      font-size: 12px;
    }
  }

  @include sp {
    height: 40px;

    &--square {
      height: 56px;
    }

    &--large {
      height: 48px;
    }

    &--huge {
      height: 56px;
    }

    &--postal {
      height: 44px;
      border-radius: 22px;
    }

    &--upload {
      height: 48px;
      border-radius: 28px;
    }
  }

  &--delete,
  &--delete:hover {
    #{$root}__text {
      color: $color-primary-red;
    }

    #{$root-icon} {
      background-color: $color-primary-red;
    }
  }

  &--icon-right {
    #{$root}__text {
      order: 0;
    }

    .icon-wrapper {
      order: 1;
      margin-right: 0;
      margin-left: 3px;
    }
  }
}
