/* stylelint-disable selector-class-pattern */
.a-button {
  $root: &;
  $root-icon: '.a-icon';

  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 14px 0;
  text-decoration: none;
  cursor: pointer;
  background-color: $color-white;
  border: 2px solid $color-white;
  border-radius: 10px;
  transition: background-color fr(10) fr(0), border fr(10) fr(0);
  /* property name | duration | delay */
  /* Apply to 2 properties */

  // Default Button Hover
  &:hover {
    background-color: transparent;

    #{$root}__text {
      color: $color-white;
    }

    #{$root-icon} {
      background-color: $color-white;
    }
  }

  .icon-wrapper {
    display: flex;
    order: 0;
    margin: 0 8px;
  }

  #{$root-icon} {
    width: 16px;
    height: 16px;
    background-color: $color-blue-eyes; // Default Icon color
    transition: background-color fr(10) fr(0);
  }

  &:active {
    background-color: $color-base-lavender;
    box-shadow: none;
  }

  &--small {
    width: 70px;
    padding: 5px 0;
    border-radius: 20px;
  }

  &--medium {
    width: 200px;
  }

  &--large {
    width: 400px;
  }

  &--primary {
    background-color: $color-blue-eyes;
    border: 2px solid $color-blue-eyes;

    #{$root}__text {
      color: $color-white;
    }

    #{$root-icon} {
      background-color: $color-white;
    }

    &:hover {
      background-color: rgba($color-blue-eyes, 0.9);

      #{$root-icon} {
        background-color: $color-blue-eyes;
      }
    }
  }

  &--secondary {
    background-color: $color-primary;

    #{$root}__text {
      color: $color-white;
    }

    &:hover {
      background-color: rgba($color-primary, 0.9);
    }
  }

  &--tertiary {
    background-color: $color-grey-1;

    #{$root}__text {
      color: $color-white;
    }

    &:hover {
      background-color: rgba($color-grey-10, 0.9);
    }
  }

  &--transparent {
    color: $color-primary-purple;
    background: transparent;
    box-shadow: none;

    &:hover {
      color: $color-primary-purple;
      background: transparent;
    }

    &:active {
      background: transparent;
    }
  }

  @include sp {
    height: 40px;

    &--square {
      height: 56px;
    }

    &--large {
      height: 48px;
    }

    &--huge {
      height: 56px;
    }

    &--postal {
      height: 44px;
      border-radius: 22px;
    }
  }
}
