.home-right-area {
  position: fixed;
  left: 80.7vw;
  top: 7rem;
  width: 17vw;

  @include desktop-medium {
    width: 18vw;
  }

  @include desktop-small {
    width: 20vw;
  }

  @include tablet-large {
    left: 78%;
    width: 20vw;
  }

  @include tablet-medium {
    display: none;
  }

  &__header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 0 7px 10px;
    font-weight: 600;
    color: var(--color-secondary);

    &--right {
      display: flex;
      align-items: center;
      gap: 6px;
      position: absolute;
      right: -9px;
      top: 7px;

      @include desktop-small {
        right: 10%;
      }

      @include tablet-large {
        right: 0;
      }
    }
  }

  &__icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    @include desktop-small {
      width: 20px;
    }

    @include tablet-large {
      width: 30px;
    }

    &:hover {
      background: #d4d6da3a;
    }

    &:nth-child(1) {
      margin-right: -1px;
    }

    &:nth-child(2) {
      margin-right: 1px;
    }

    &:nth-child(3) {
      margin-top: -1px;
    }
  }

  &__contacts-list {
    padding: 5px;
  }

  &__contact {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--color-primary);
    font-weight: 600;

    &:hover {
      background: #d4d6da3a;
    }

    span {
      transform: translateY(-5px);
    }
  }

  &__contact-img img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
  }
}
