.p-global-error {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 150px;
  width: 40%;
  border: 1px solid $color-secondary-grey;
  border-radius: 16px;
  transform: translate(-50%, 50%);

  .a-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3.8rem;
    height: 3.8rem;
    border-radius: 50%;
  }
}
