.m-list-items {
  margin-bottom: 10px;
  text-decoration: underline;

  &:hover {
    color: $color-base-royalblue;

    &:before {
      position: absolute;
      top: 1.8rem;
      right: 0;
      font-size: 1.2rem;
      font-weight: bold;
      color: $color-primary-dark;
      content: 'View Details';
    }
  }
}
