.a-search-input {
  display: flex;
  align-items: center;
  gap: 8px;
  background: var(--bg-forth);
  padding: 10px 32px 10px 10px;
  border-radius: 50px;
  cursor: text;

  input {
    outline: none;
    border: none;
    background: transparent;
    font-size: 15px;
    font-family: inherit;
    padding-left: 4px;

    &::placeholder {
      transform: translateY(-2px);
    }

    &:focus::placeholder {
      transform: translateY(-1px);
    }
  }

  svg {
    transform: translateY(-1px);
  }
}
