.emoji {
  $root: &;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 8px;

  img {
    width: 39px;
    cursor: pointer;
  }

  i:hover {
    filter: invert(80%);
  }

  &__picker {
    position: absolute;
    right: 0;
    bottom: 2.5rem;

    #{$root}[data-has-image='false'] & {
      right: -7rem;
    }

    #{$root}[data-has-image='true'] & {
      right: 1rem;
      top: 4rem;
    }
  }

}