.emoji {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 10px 15px;
  height: 10px;

  img {
    width: 39px;
    cursor: pointer;
  }

  i:hover {
    filter: invert(80%);
  }

  &__picker {
    position: absolute;
    right: -7rem;
    bottom: 2.5rem;
  }
}

.EmojiPickerReact {
  height: 350px !important;
}