/* stylelint-disable selector-class-pattern */
@mixin clearfix {
  &:after {
    display: table;
    clear: both;
    content: '';
  }
}

@mixin pc() {
  @media (min-width: ($breakpoint-sp + 1)) {
    @content;
  }
}

@mixin sp() {
  @media (max-width: $breakpoint-sp) {
    @content;
  }
}

//  Media screen 1025 and above
@mixin wide-pc {
  @media (min-width: ($breakpoint-small-pc + 1)) {
    @content;
  }
}

// Media screen 769-1024
@mixin small-pc() {
  @media (max-width: $breakpoint-small-pc) and (min-width: ($breakpoint-sp + 1)) {
    @content;
  }
}

@mixin desktop-large() {
  @media (max-width: 1295px) {
    @content;
  }
}

@mixin desktop-medium() {
  @media (max-width: 1130px) {
    @content;
  }
}

@mixin desktop-small() {
  @media (max-width: 1040px) {
    @content;
  }
}

@mixin tablet-large() {
  @media (max-width: 945px) {
    @content;
  }
}

@mixin tablet-medium() {
  @media (max-width: 850px) {
    @content;
  }
}

@mixin tablet-small() {
  @media (max-width: 770px) {
    @content;
  }
}

@mixin tablet-small-X() {
  @media (max-width: 720px) {
    @content;
  }
}

@mixin mobile-large() {
  @media (max-width: 620px) {
    @content;
  }
}

@mixin mobile-medium() {
  @media (max-width: 550px) {
    @content;
  }
}

@mixin mobile-small() {
  @media (max-width: 505px) {
    @content;
  }
}

@mixin mobile-small-x() {
  @media (max-width: 400px) {
    @content;
  }
}

@mixin flex-spac-between {
  display: flex;
  justify-content: space-between;
}

@mixin sprite-icon() {
  background-position: 0% center;
  background-size: 200% 100%;
}
@mixin sprite-icon-active() {
  background-position: 100% center;
}

@mixin make-block-element {
  display: block;
  height: 0;
  overflow: hidden;
  content: '.';
}

@mixin line-height-crop($line-height: $default-line-height) {
  line-height: $line-height;

  &:before {
    @include make-block-element;

    width: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }

  &:after {
    @include make-block-element;

    width: 0;
    margin-top: calc((1 - #{$line-height}) * 0.5em);
  }
}

@mixin flex-with-gap($row-gap: 0, $column-gap: 0) {
  display: flex;
  margin-top: calc(-1 * $row-gap);
  margin-left: calc(-1 * $column-gap);

  & > * {
    margin-top: $row-gap;
    margin-left: $column-gap;
  }
}

.error_arrow_left {
  border-left: 10px solid #b94a48;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  right: -10px;
  top: 13px;
}

.error_arrow_right {
  border-right: 10px solid #b94a48;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  left: -10px;
  top: 14px;
}

.error_arrow_bottom {
  border-bottom: 10px solid #b94a48;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -9px;
}

.error_arrow_top {
  border-top: 10px solid #b94a48;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  bottom: -9px;
}

.circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background: var(--bg-secondary);
  }
}

.small_circle {
  position: relative;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 11px;
  background: var(--bg-third);
  cursor: pointer;
}

.divider {
  width: 100%;
  height: 1px;
  background: var(--bg-third);
  margin-top: 5px;
}

.hp_onlyPc {
  @include sp {
    display: none !important;
  }
}

.hp_onlySp {
  @include pc {
    display: none !important;
  }
}
