.modal {
  position: relative;
  width: 250px;
  height: 250px;
  background: $color-base-mantis;
  transform: translateY(25%);
}

.button {
  width: 100px;
  height: 40px;
  background: $color-base-darkmagenta;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
