.change-password_form {
  $root: &;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--bg-primary);
  box-shadow: 0 1px 2px var(--shadow-1);
  border-radius: 10px;
  width: 550px;
  height: auto;

  form {
    margin-bottom: 50px;
  }

  @include sp {
    width: 400px;
  }

  &__header {
    padding: 15px;
    font-weight: 600;
    font-size: 24px;
    border-bottom: 1px solid var(--bg-third);
  }

  &__text {
    padding: 15px;
    font-size: 17px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--bg-third);
  }

  &__button-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 5px;
    padding: 10px;
    position: absolute;
    right: 10px;
    bottom: 0;
  }

  .a-login-input {
    width: 75%;
  }

  .a-button {
    width: 90px;

    &--tertiary {
      height: 20px;
    }

    &--primary {
      height: 30px;
    }
  }
}
