body {
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  line-height: 26px;
  color: $color-text-black;
}

// NOTE: Overwrite sanitize.css
h1 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

em {
  font-style: normal;
}

// Overwrite sanitize.css

html {
  // this define what 1rem is
  /* font-size: 10px; */
  font-size: 62.5%;
  line-height: normal;
  /*
    10/16= 0.625-> 62.5%
    ||
    0.625*16 = 10px default
  */
}

input,
select {
  font-family: inherit;
  word-break: break-all; // To sanitize input's behavior on Safari
  border: none;
  appearance: none;
  outline: none;
}

button {
  font-family: inherit;
  background: transparent;
  border: none;
  outline: none;
  appearance: none;
}

* {
  padding: 0;
  margin: 0;
  scrollbar-width: thin;
  scrollbar-color: $color-secondary-grey transparent;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: $color-secondary-grey;
  border: transparent;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: $color-secondary-grey;
}

.error_arrow_left {
  border-left: 10px solid #b94a48;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  position: absolute;
  right: -10px;
  top: 13px;
}

.error_arrow_bottom {
  border-bottom: 10px solid #b94a48;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: -9px;
}

.error_arrow_top {
  border-top: 10px solid #b94a48;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  bottom: -9px;
}

:root {
  --bg-primary: #fff;
  --bg-secondary: #f0f2f5;
  --bg-third: #e4e6eb;
  --bg-forth: #f0f2f5;
  --color-primary: #050505;
  --color-secondary: #65676b;
  --divider: #ced0d4;
  --dark-bg-primary: #18191a;
  --dark-bg-secondary: #242526;
  --dark-bg-third: #3a3b3c;
  --dark-color-primary: #242526;
  --dark-color-secondary: #b0b3b8;
  --blue-color: #1876f2;
  --green-color: #42b72a;
  --light-blue-color: #e7f3ff;
  --border-color: #ccced2;
  --shadow-1: rgba(0, 0, 0, 0.2);
  --shadow-2: rgba(0, 0, 0, 0.1);
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-inset: rgba(255, 255, 255, 0.5);
}
