.a-chat-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 128px;
  height: 64px;
  padding: 15px 10px 16px 22px;
  cursor: pointer;
  background-color: $color-marine-blue;
  border: 2px solid $color-white;
  border-right: none;
  border-radius: 32px 0 0 32px;
  transition: background-color fr(10) fr(0);

  &:hover {
    background-color: $color-light-navy-blue;
  }

  @include sp {
    width: 64px;
    height: 56px;
    padding: 8px 0 9px 13px;
  }

  &__text {
    display: inline-block;
    font-size: 15px;
    font-weight: xd-font-weight('bold');
    color: $color-white;

    @include sp {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      font-size: 11px;
    }
  }

  &__icon {
    display: inline-block;
    margin-left: 8px;

    @include sp {
      margin-bottom: -10px;
      margin-left: 1px;
    }
  }

  &__icon-pc {
    width: 16px;
    height: 14px;
  }

  &__icon-sp {
    width: 24px;
    height: 21px;
  }
}
